# Print

In [1]:
print ("Write your name :) " )

Write your name :)

In [2]:
name = "Jehad"
age = 26
add = 2

In [3]:
print("Write your name {} and your age ".format(name,age))

Write your name Jehad and your age

In [4]:
print("Write your name {} and your age {}".format(name,age))

Write your name Jehad and your age 26

In [5]:
print("Write your name {1} and your age {0} ".format(name,age))

Write your name 26 and your age Jehad

# Escape Charaters

○ \\: Backslash

○ \n: New line

○ \t: tab

○ \b: Backspace

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

In [15]:
# Hi

In [20]:
print("Hi \n my name is ")

Hi
 my name is

In [19]:
print("\tHi my name is ")

	Hi my name is

# Math

In [2]:
1+2

3

In [3]:
5 < 2

False

In [4]:
2 > 5

False

In [5]:
X = 1+2

In [7]:
X

3

In [1]:
3 == 3

True

In [2]:
3 != 4

True

# If

In [8]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

In [14]:
if 5 > 2:
    print("Five is greater than two!") 
if 5 > 9:
    print("Five is greater than nine!")

Five is greater than two!

# Data type

In [2]:
e = 2345

In [5]:
e

2345

In [4]:
print(e)

2345

In [7]:
x = 4       # x is of type int
x = "Sally"
x= "tew"
x= 56      # x is now of type str
print(x)

56

In [7]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [9]:
print(x)
print(y)
print(z)

3
3
3.0

In [10]:
type(x)

str

In [11]:
type(y)

int

# Assign Multiple Values

In [12]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [13]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

['apple', 'banana', 'cherry']

In [12]:
x = 87
y = 34
z = "awesome"
print(x, y, z)

87 34 awesome

In [14]:
x = 87
y = 34
z = "awesome"
print(x + y , z)

121 awesome

# String

In [15]:
b = "Hello, World!"
print(b[:5])

Hello

In [18]:
b[:3]

'Hel'

In [21]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [ ]:
orl

In [4]:
b = "Hello, World!"
b [0]

'H'

In [5]:
b = "Hello, World!"
b[:]

'Hello, World!'

In [6]:
b = "Hello, World!"
b[1:]

'ello, World!'

In [8]:
b = "Hello, World!"
b[::-1]

'!dlroW ,olleH'

In [23]:
srt = " i like python"
txt = srt.replace("pyhton","java")
print(txt)

 i like python

# Random number

In [8]:
import random

print(random.randrange(1, 10))

3

In [8]:
random.random()

0.48345149394049014

In [10]:
random.randint(1,3)

2

In [12]:
random.randrange(1,10)

8

In [9]:
random.choice("sdftyuhijkl")

'y'

In [21]:
num=[3,5,65,456,32]
random.shuffle(num)
num

[3, 5, 65, 32, 456]

# List

append()	Adds an element at the end of the list

clear()	Removes all the elements from the list

copy()	Returns a copy of the list

count()	Returns the number of elements with the specified value

extend()	Add the elements of a list (or any iterable), to the end of the current list

index()	Returns the index of the first element with the specified value

insert()	Adds an element at the specified position

pop()	Removes the element at the specified position

remove()	Removes the item with the specified value

reverse()	Reverses the order of the list

sort()	Sorts the list

In [23]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [22]:
thislist[0]

'apple'

In [19]:
thislist[1]="fhf"

In [20]:
thislist

['apple', 'fhf', 'cherry']

In [17]:
thislist[2]

'cherry'

In [16]:
thislist

[['tg'], 'banana', 'cherry']

In [23]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [24]:
thislist[2]="ww"

In [25]:
thislist

['apple', 'banana', 'ww', 'apple', 'cherry']

ERROR

In [26]:
thislist="EF"

In [28]:
thislist

'EF'

In [30]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x)

apple
banana
cherry

In [32]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
    print(thislist[i])

apple
banana
cherry

In [33]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
    print(thislist[i])
    i = i + 1

apple
banana
cherry

In [10]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['a', 'b', 'c', 'd', 'z']

In [14]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [15]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [16]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [17]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [18]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [19]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

# Tuples

In [27]:
thistuple = ("apple", "banana", "cherry",67,3434.77,23)
print(thistuple)

('apple', 'banana', 'cherry', 67, 3434.77, 23)

In [29]:
thistuple[0]

'apple'

In [36]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [37]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [38]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

# Set

In [36]:
thisset = set()

In [37]:
thisset="ytgyug"

TypeError: 'set' object does not support item assignment

In [35]:
thisset = {"apple",3,3, "banana", "cherry"}
print(thisset)

{3, 'cherry', 'banana', 'apple'}

In [34]:
thisset = {"apple", "banana", "cherry",8,8,"apple"}
print(thisset)

{8, 'cherry', 'banana', 'apple'}

In [41]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'banana', 'cherry'}

In [42]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [38]:
thisset = set(("apple", "banana", "cherry"))
print(thisset)

{'cherry', 'banana', 'apple'}

In [40]:
thisset[0]="wte"

TypeError: 'set' object does not support item assignment

# Dictionaries

In [46]:
thisdict = {
  "brand": ["Ford",76],
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [43]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [47]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict.get("model"))

Mustang

In [53]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict.get("brand",["model","ciao"]))

Ford

In [54]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict ["hoppies"] =["dancing","fishing"]
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'hoppies': ['dancing', 'fishing']}

In [9]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [55]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color":"rth"})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'rth'}

In [56]:
w = ["wert","wet"]

In [59]:
w[0]="ufuyfuyf"

In [60]:
w

['ufuyfuyf', 'wet']

In [62]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [24]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [63]:
thisdict

{'brand': 'Ford', 'year': 1964}

In [7]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict.pop("brand"))
print(thisdict)

Ford
{'model': 'Mustang', 'year': 1964}

In [67]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"model":"tdy"})
print(thisdict)

{'brand': 'Ford', 'model': 'tdy', 'year': 1964}

In [43]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for i in thisdict:
    print(i)

brand
model
year

In [70]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for i in thisdict:
    print(i)
    print(thisdict[i])

brand
Ford
model
Mustang
year
1964

In [19]:
for x in thisdict:
    print(x)

brand
model
year

In [20]:
for x in thisdict:
    print(thisdict[x])

Ford
Mustang
1964

In [72]:
for x in thisdict.values():
    print(x)

Ford
Mustang
1964

In [21]:
for x in thisdict.values():
    print(x)

Ford
Mustang
1964

In [22]:
for x in thisdict.keys():
    print(x)

brand
model
year

In [23]:
for x, y in thisdict.items():
    print(x, y)

brand Ford
model Mustang
year 1964

In [24]:
type(x)

str

In [73]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [74]:
mydict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [24]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [26]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [34]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year " : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007 
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily)

{'child1': {'name': 'Emil', 'year \n': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [30]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

print(child1)

{'name': 'Emil', 'year': 2004}

# IF ... Else

In [79]:
a = 33
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")

a and b are equal

In [80]:
a = 200
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

a is greater than b

In [51]:
x = 41

if x > 10:
    print("Above ten,")
    if x > 20:
        print("and also above 20!")
    else:
        print("but not above 20.")

Above ten,
and also above 20!

In [35]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [36]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

In [37]:
a = 200
b = 33
c = 500
if a > b and c > a:
    print("Both conditions are True")

Both conditions are True

In [38]:
a = 200
b = 33
c = 500
if a > b or a > c:
    print("At least one of the conditions is True")

At least one of the conditions is True

In [39]:
x = 41

if x > 10:
    print("Above ten,")
    if x > 20:
        print("and also above 20!")
    else:
        print("but not above 20.")

Above ten,
and also above 20!

In [40]:
a = 33
b = 200

if b > a:
    pass

In [41]:
for i in range(10):
    print(i)
    if i == 5:
        break

0
1
2
3
4
5

# The while Loop

In [52]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [55]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [53]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

In [16]:
i = 0
while i < 5:
    i += 1
    if i == 3:
        print("DSFS")
        continue
    print(i)

1
2
DSFS
4
5

In [42]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [43]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

In [44]:
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

In [45]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [47]:
i = 1
while i <= 6:
    print(i)
    i += 1
else:
    print("i is equal 6")

1
2
3
4
5
6
i is equal 6

In [22]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
    print(thislist[i])
    i = i + 1

apple
banana
cherry

# foor loop

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

In [11]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    if x == "banana":
        break

apple
banana

In [49]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:

    if x == "banana":
        print(x)
        break

banana

In [51]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        break

In [52]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    if x == "banana":
        break

apple
banana

In [53]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        break
    print(x)

apple

In [54]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry

for and range

In [55]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [56]:
for x in range(2, 6):
    print(x)

2
3
4
5

In [20]:
for x in range(2, 30, 1):
    print(x)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [23]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [13]:
for x in range(3):
    print(x)
else:
    print("Finally finished!")

0
1
2
Finally finished!

In [60]:
for x in range(6):
    if x == 3:
        break
    print(x)
else:
    print("Finally finished!")

0
1
2

In [61]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [62]:
for x in [0, 1, 2]:
    pass

In [24]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
    if "a" in x:
        newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [25]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

# Functions

In [117]:
def my_function():
    print("Hello from a function")

my_function()

Hello from a function

In [63]:
def my_function(fname):
    print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [118]:
def my_function(fname, lname):
    print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

In [119]:
def my_function(fname, lname):
    print(fname + " " + lname)

my_function("Emil")

TypeError: my_function() missing 1 required positional argument: 'lname'

In [73]:
def my_function(child3, child2, child1):
    print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [46]:
def my_function(*kids):  #If the number of arguments is unknown, add a * before the parameter name:
    print("The youngest child is " + kids[2])
    

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [48]:
def my_function(**kid):
    print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes",age= 67 )

His last name is Refsnes

In [78]:
def my_function(**kid):
    print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [81]:
def minimum(first,secound):
    if(first < secound):
        return first
    return secound

num1 = 200
num2 = 344

result=minimum(num1,num2)
print(result)

200

# Lambda

In [6]:
x = lambda a : a + 10
print(x(5))

15

In [7]:
x = lambda a, b : a * b
print(x(5, 6))

30

# Array

In [12]:
cars = ["Ford", "Volvo", "BMW"]

x = cars[0]

print(x)

Ford

# Class

In [13]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

# Model

In [14]:
def greeting(name):
    print("Hello, " + name)

In [ ]:
# Save this code in a file named mymodule.py

In [ ]:
import mymodule

mymodule.greeting("Jonathan")

# Input

In [3]:
x = input ("please enter your name")

please enter your name alaa

In [4]:
x

'alaa'

# strip()

In [75]:
t= "     banana     "

x = t.strip()

print( x)

banana

In [45]:
txt = ".....banana....."

x = txt.strip(".")

print(x)

banana

In [79]:
txt = ".....banana....."

x = txt.rstrip(".")

print(x)

.....banana

In [83]:
y =" rtger   ytfty"
y.strip()

'rtger   ytfty'

In [49]:
txt = ".....banana....."

x = txt.lstrip(".")

print(x)

banana.....

# split

In [76]:
txt = "welcometothejungle"

x = txt.split('t')

print(x)

['welcome', 'o', 'hejungle']

In [28]:
txt = "hello,my name is Peter,I am 26 years old"

x = txt.split(", ")

print(x)

['hello,my name is Peter,I am 26 years old']

In [68]:
txt = "apple#banana#cherry#orange"

x = txt.split("#")

print(x)

['apple', 'banana', 'cherry', 'orange']

In [69]:
txt = "apple#banana#cherry#orange"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.split("#", 2)

print(x)

['apple', 'banana', 'cherry#orange']

# count()

In [94]:
txt = "I love applees, tapples are my favorite fruit"

x = txt.count("apple")

print(x)

2

In [91]:
txt = "I love applees, applee are my favorite fruit"

x = txt.count("applee", 10, 24)

print(x)

1

# find()

In [96]:
txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

In [77]:
txt = "Hello, welcome to my world."

x = txt.find("e")

print(x)

1

In [78]:
txt = "Hello, welcome to my world."

x = txt.find("e", 5, 10)

print(x)

8

In [97]:
txt = "Hello, welcome to my world."

print(txt.find("w"))
print(txt.index("welcome"))

7
7

# Upper

In [19]:
txt = "Hello, welcome to my world."

x = txt.upper()

print(x)

HELLO, WELCOME TO MY WORLD.

# lower

In [21]:
txt = "Hello, welcome TO my WORLD."

x = txt.lower()

print(x)

hello, welcome to my world.

# replace

In [83]:
txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

I like apples

In [100]:
y = ("ewgter",3243)

In [101]:
list(y)

['ewgter', 3243]

In [102]:
y = ["wer",324]

In [103]:
tuple(y)

('wer', 324)

In [86]:
txt = "one one was a race horse, two two was one too."

x = txt.replace("one", "three")

print(x)

three three was a race horse, two two was three too.

In [33]:
txt = "one one was a race horse, two two was one too."

x = txt.replace("one", "three", 2)

print(x)

three three was a race horse, two two was one too.

# format ()

In [116]:
txt = "For only {price:.4f} dollars!"
print(txt.format(price = 49.68857474))

For only 49.6886 dollars!

In [107]:
price = 49

txt = "For only {price:.2f} dollars!"
print(txt.format(price))

KeyError: 'price'

In [108]:
price = 49

txt = "For only {price:.2f} dollars!"
print(txt.format())

KeyError: 'price'

In [109]:
price = 49

t = "For only {} dollars!"
print(t.format(price))

For only 49 dollars!

In [110]:
txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)
txt2 = "My name is {0}, I'm {1}".format("John",36)
txt3 = "My name is {}, I'm {}".format("John",36)

In [111]:
txt1
txt2
txt3

"My name is John, I'm 36"

In [40]:
print(txt1)
print(txt2)
print(txt3)

My name is John, I'm 36
My name is John, I'm 36
My name is John, I'm 36

In [112]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

# type()

In [110]:
x = 35
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'float'>

# array

In [112]:
mylist = ["apple", "banana", "cherry"]

In [115]:
list1 = [8,16,24]
print(set(list1))        #set([8, 16, 24])
list2 = [24,16,8]
print(set(list2))        #set([24, 16, 8])

{8, 16, 24}
{24, 16, 8}

In [62]:
list1 = [1,2,3]
print(set(list1))      # set([1, 2, 3])
list2 = [3,2,1]
print(set(list2))      # set([1, 2, 3])

{1, 2, 3}
{1, 2, 3}

In [4]:
list2 = [7,2,1]
set(list2)

{1, 2, 7}

In [6]:
list2 = [7,57,1]
set(list2)

{1, 7, 57}

In [7]:
list1 = [7,57,1]
set(list1)

{1, 7, 57}

In [8]:
list2 = [7,5,23]
set(list2)

{5, 7, 23}

In [1]:
lang = ["python","c++","c","c#"]

In [2]:
print(lang[3])

c#

In [3]:
print(lang[4])

IndexError: list index out of range

In [4]:
print(lang[-1])

c#

In [5]:
lang[3]="fd"

In [6]:
print(lang)

['python', 'c++', 'c', 'fd']

In [7]:
lang[1:3] = ["dd","dww"]

In [8]:
lang

['python', 'dd', 'dww', 'fd']

In [9]:
print ("dd" in lang)

True

In [10]:
for lang in lang:
    print(lang)

python
dd
dww
fd

In [13]:
lang = ["python","c++","c","c#"]
lang.append("asd")
print(lang)

['python', 'c++', 'c', 'c#', 'asd']

In [14]:
lang = ["python","c++","c","c#"]
lang.insert(1,"asd")
print(lang)

['python', 'asd', 'c++', 'c', 'c#']

In [17]:
lang = ["python","c++","c","c#"]
lang.remove("python")
print(lang)

['c++', 'c', 'c#']

# tuple

In [19]:
lang = ("python","c++","c","c#")
lang[1]="sad"
print(lang)

TypeError: 'tuple' object does not support item assignment

In [20]:
srting = " are you there"
srting[1]="s"
print(srting)

TypeError: 'str' object does not support item assignment

# file

In [9]:
M1 = [[8, 14, -6], 
      [12,7,4], 
      [-11,3,21]]

M2 = [[3, 16, -6],
           [9,7,-4], 
           [-1,3,13]]

M3  = [[0,0,0],
       [0,0,0],
       [0,0,0]]
matrix_length = len(M1)

#To Add M1 and M2 matrices
for i in range(len(M1)):
    for k in range(len(M2)):
        M3[i][k] = M1[i][k] + M2[i][k]

#To Print the matrix
print("The sum of Matrix M1 and M2 = ", M3)

The sum of Matrix M1 and M2 =  [[11, 30, -12], [21, 14, 0], [-12, 6, 34]]