# Lambda Expressions, Map, and Filter

In [16]:
def square(num):
    return num**2

In [17]:
square(2)

4

In [18]:
my_nums = [1,2,3,4,5]

In [19]:
map(square,my_nums)

In [20]:
x=list(map(square,my_nums))

In [21]:
def splicer(ahmed):
    if len(ahmed) % 2 == 0:
        return 'even'
    else:
        return ahmed[0]

In [22]:
splicer('ahmedt')

'even'

In [23]:
mynames = ['John','Cindy','Sarah','Kelly','Mike']

In [24]:
list(map(splicer,mynames))

['even', 'C', 'S', 'K', 'even']

## filter function

In [25]:
def check_even(num):
    return num % 2 == 0 

check_even(4)

True

In [26]:
nums = [0,1,2,3,4,5,6,7,8,9,10]

In [27]:
filter(check_even,nums)

In [28]:
#nums = [0,1,2,3,4,5,6,7,8,9,10]
list(filter(check_even,nums))

[0, 2, 4, 6, 8, 10]

## lambda expression

In [32]:
def square(num):
    result = num**2
    return result

In [33]:
square(2)

4

We could simplify it:

In [34]:
def square(num):
    return num**2

In [35]:
square(2)

4

We could actually even write this all on one line.

In [36]:
def square(num):return num**2

In [37]:
lambda num: num ** 2

In [38]:
# You wouldn't usually assign a name to a lambda expression, this is just for demonstration!
r = lambda num: num **2

In [39]:
r(2)

4

In [40]:
lambda names:'even' if len(names)%2==0 else names[0]

In [41]:
a=lambda names:'even' if len(names)%2==0 else names[0]

a('wtyq')

'even'

In [3]:
my_nums = [1,2,3,4,5,6,7,8,9,10]

In [4]:
list(map(lambda num: num ** 2, my_nums))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
list(filter(lambda n: n % 2 == 0,my_nums))

[2, 4, 6, 8, 10]

In [31]:
x=lambda my_names: 'even' if len(my_names)%2 ==0 else my_names[0]

In [32]:
names=['ahmed','mohammed','sameh','john']
list(map(x,names))

['a', 'even', 's', 'even']

In [33]:
def add(*args):
    return sum(args)

In [34]:
add (5,6)

11