# Lambda Expressions, Map, and Filter

In [6]:
def square(num):
    return num**2

In [7]:
square(2)

4

In [8]:
my_nums = [1,2,3,4,5]

In [9]:
map(square,my_nums)

In [10]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [11]:
def splicer(ahmed):
    if len(ahmed) % 2 == 0:
        return 'even'
    else:
        return ahmed[0]

In [12]:
splicer('ahmed')

'a'

In [13]:
mynames = ['John','Cindy','Sarah','Kelly','Mike']

In [14]:
list(map(splicer,mynames))

['even', 'C', 'S', 'K', 'even']

## filter function

In [15]:
def check_even(num):
    return num % 2 == 0 


check_even(5)

False

In [16]:
nums = [0,1,2,3,4,5,6,7,8,9,10]

In [17]:
filter(check_even,nums)

In [18]:
list(filter(check_even,nums))

[0, 2, 4, 6, 8, 10]

## lambda expression

In [19]:
def square(num):
    result = num**2
    return result

In [20]:
square(2)

4

We could simplify it:

In [21]:
def square(num):
    return num**2

In [22]:
square(2)

4

We could actually even write this all on one line.

In [23]:
def square(num): return num**2

In [24]:
lambda num: num ** 2

In [25]:
# You wouldn't usually assign a name to a lambda expression, this is just for demonstration!
ahmed = lambda num: num **2

In [26]:
ahmed(2)

4

In [27]:
lambda names:'even' if len(names)%2==0 else names[0]

In [28]:
a=lambda names:'even' if len(names)%2==0 else names[0]

a('ahmed')

'a'

In [29]:
list(map(lambda num: num ** 2, my_nums))

[1, 4, 9, 16, 25]

In [30]:
list(filter(lambda n: n % 2 == 0,nums))

[0, 2, 4, 6, 8, 10]

In [31]:
x=lambda my_names: 'even' if len(my_names)%2 ==0 else my_names[0]

In [32]:
names=['ahmed','mohammed','sameh','john']
list(map(x,names))

['a', 'even', 's', 'even']

In [33]:
def add(*args):
    return sum(args)

In [34]:
add (5,6)

11