# DataFrames

DataFrames are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index. Let's use pandas to explore this topic!

In [1]:
import pandas as pd
import numpy as np

In [2]:
from numpy.random import randn

In [3]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [4]:
df

          W         X         Y         Z
A -0.828371 -0.444155 -0.331583 -0.252871
B  0.190895  1.453699 -0.203212  0.334845
C  0.530480 -0.313285 -1.692190  0.218014
D -0.396114 -0.134331 -1.330254  0.572926
E  0.197862  2.059758  0.596495  1.622944

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [6]:
df['W']

A   -0.828371
B    0.190895
C    0.530480
D   -0.396114
E    0.197862
Name: W, dtype: float64

In [26]:
# Pass a list of column names
df[['W','Z']]

          W         Z
A -0.796187 -1.288480
B -1.103166  0.399420
C -2.105941 -0.336990
D  0.255564 -1.148171
E -0.621560  0.550419

In [27]:
# SQL Syntax (NOT RECOMMENDED!)
df.W

A   -0.796187
B   -1.103166
C   -2.105941
D    0.255564
E   -0.621560
Name: W, dtype: float64

DataFrame Columns are just Series

In [28]:
type(df['W'])

pandas.core.series.Series

**Creating a new column:**

In [29]:
df['new'] = df['W'] + df['Y']

In [30]:
df

          W         X         Y         Z       new
A -0.796187 -0.352416  2.579052 -1.288480  1.782866
B -1.103166  0.008870 -1.042749  0.399420 -2.145915
C -2.105941  1.211603  1.756926 -0.336990 -0.349015
D  0.255564  0.406078  0.223083 -1.148171  0.478647
E -0.621560 -1.763614 -2.333062  0.550419 -2.954622

** Removing Columns**

In [31]:
df.drop('new',axis=1)

          W         X         Y         Z
A -0.796187 -0.352416  2.579052 -1.288480
B -1.103166  0.008870 -1.042749  0.399420
C -2.105941  1.211603  1.756926 -0.336990
D  0.255564  0.406078  0.223083 -1.148171
E -0.621560 -1.763614 -2.333062  0.550419

In [32]:
# Not inplace unless specified!
df

          W         X         Y         Z       new
A -0.796187 -0.352416  2.579052 -1.288480  1.782866
B -1.103166  0.008870 -1.042749  0.399420 -2.145915
C -2.105941  1.211603  1.756926 -0.336990 -0.349015
D  0.255564  0.406078  0.223083 -1.148171  0.478647
E -0.621560 -1.763614 -2.333062  0.550419 -2.954622

In [33]:
df.drop('new',axis=1,inplace=True)

In [34]:
df

          W         X         Y         Z
A -0.796187 -0.352416  2.579052 -1.288480
B -1.103166  0.008870 -1.042749  0.399420
C -2.105941  1.211603  1.756926 -0.336990
D  0.255564  0.406078  0.223083 -1.148171
E -0.621560 -1.763614 -2.333062  0.550419

Can also drop rows this way:

In [35]:
df.drop('E',axis=0)

          W         X         Y         Z
A -0.796187 -0.352416  2.579052 -1.288480
B -1.103166  0.008870 -1.042749  0.399420
C -2.105941  1.211603  1.756926 -0.336990
D  0.255564  0.406078  0.223083 -1.148171

** Selecting Rows**

In [37]:
df.loc['A']

W   -0.796187
X   -0.352416
Y    2.579052
Z   -1.288480
Name: A, dtype: float64

In [38]:
df.iloc[2]

W   -2.105941
X    1.211603
Y    1.756926
Z   -0.336990
Name: C, dtype: float64

Or select based off of position instead of label

In [36]:
df

          W         X         Y         Z
A -0.796187 -0.352416  2.579052 -1.288480
B -1.103166  0.008870 -1.042749  0.399420
C -2.105941  1.211603  1.756926 -0.336990
D  0.255564  0.406078  0.223083 -1.148171
E -0.621560 -1.763614 -2.333062  0.550419

** Selecting subset of rows and columns **

In [39]:
df.loc['B','Y']

-1.0427490455586976

In [41]:
df.loc[['A','B'],['W']]

          W
A -0.796187
B -1.103166

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [42]:
df

          W         X         Y         Z
A -0.796187 -0.352416  2.579052 -1.288480
B -1.103166  0.008870 -1.042749  0.399420
C -2.105941  1.211603  1.756926 -0.336990
D  0.255564  0.406078  0.223083 -1.148171
E -0.621560 -1.763614 -2.333062  0.550419

In [43]:
df>0

       W      X      Y      Z
A  False  False   True  False
B  False   True  False   True
C  False   True   True  False
D   True   True   True  False
E  False  False  False   True

In [44]:
df[df>0]

          W         X         Y         Z
A       NaN       NaN  2.579052       NaN
B       NaN  0.008870       NaN  0.399420
C       NaN  1.211603  1.756926       NaN
D  0.255564  0.406078  0.223083       NaN
E       NaN       NaN       NaN  0.550419

In [46]:
df

          W         X         Y         Z
A -0.796187 -0.352416  2.579052 -1.288480
B -1.103166  0.008870 -1.042749  0.399420
C -2.105941  1.211603  1.756926 -0.336990
D  0.255564  0.406078  0.223083 -1.148171
E -0.621560 -1.763614 -2.333062  0.550419

In [49]:
df[df['W']>-1]

          W         X         Y         Z
A -0.796187 -0.352416  2.579052 -1.288480
D  0.255564  0.406078  0.223083 -1.148171
E -0.621560 -1.763614 -2.333062  0.550419

In [50]:
df

          W         X         Y         Z
A -0.796187 -0.352416  2.579052 -1.288480
B -1.103166  0.008870 -1.042749  0.399420
C -2.105941  1.211603  1.756926 -0.336990
D  0.255564  0.406078  0.223083 -1.148171
E -0.621560 -1.763614 -2.333062  0.550419

In [59]:
df[df['W']>0]['Z']

D   -1.148171
Name: Z, dtype: float64

In [31]:
df[df['W']>0][['Y','X']]

          Y         X
A  0.354158 -0.842451
C  0.315558  0.588042

For two conditions you can use | and & with parenthesis:

In [32]:
df[(df['W']>0) & (df['Y'] > 1)]

Empty DataFrame
Columns: [W, X, Y, Z]
Index: []

## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [33]:
df

          W         X         Y         Z
A  1.402032 -0.842451  0.354158  0.671270
B -0.985824  0.428189  1.046507  0.865386
C  0.128384  0.588042  0.315558  0.224636
D -0.273566  0.459206 -1.014484 -0.602770
E -0.442184  0.356635  0.507367  0.278648

In [34]:
# Reset to default 0,1...n index
df.reset_index()

  index         W         X         Y         Z
0     A  1.402032 -0.842451  0.354158  0.671270
1     B -0.985824  0.428189  1.046507  0.865386
2     C  0.128384  0.588042  0.315558  0.224636
3     D -0.273566  0.459206 -1.014484 -0.602770
4     E -0.442184  0.356635  0.507367  0.278648

In [61]:
newind = 'CA NY WY OR CO'.split()

In [62]:
newind

['CA', 'NY', 'WY', 'OR', 'CO']

In [36]:
df['States'] = newind

In [37]:
df

          W         X         Y         Z States
A  1.402032 -0.842451  0.354158  0.671270     CA
B -0.985824  0.428189  1.046507  0.865386     NY
C  0.128384  0.588042  0.315558  0.224636     WY
D -0.273566  0.459206 -1.014484 -0.602770     OR
E -0.442184  0.356635  0.507367  0.278648     CO

In [38]:
df.set_index('States')

               W         X         Y         Z
States
CA      1.402032 -0.842451  0.354158  0.671270
NY     -0.985824  0.428189  1.046507  0.865386
WY      0.128384  0.588042  0.315558  0.224636
OR     -0.273566  0.459206 -1.014484 -0.602770
CO     -0.442184  0.356635  0.507367  0.278648

In [39]:
df

          W         X         Y         Z States
A  1.402032 -0.842451  0.354158  0.671270     CA
B -0.985824  0.428189  1.046507  0.865386     NY
C  0.128384  0.588042  0.315558  0.224636     WY
D -0.273566  0.459206 -1.014484 -0.602770     OR
E -0.442184  0.356635  0.507367  0.278648     CO

In [40]:
df.set_index('States',inplace=True)

In [41]:
df

               W         X         Y         Z
States
CA      1.402032 -0.842451  0.354158  0.671270
NY     -0.985824  0.428189  1.046507  0.865386
WY      0.128384  0.588042  0.315558  0.224636
OR     -0.273566  0.459206 -1.014484 -0.602770
CO     -0.442184  0.356635  0.507367  0.278648

## Multi-Index and Index Hierarchy

Let us go over how to work with Multi-Index, first we'll create a quick example of what a Multi-Indexed DataFrame would look like:

In [68]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [69]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [46]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1 -0.535014 -0.954371
   2  1.334006  0.035665
   3 -1.352434  0.241692
G2 1  0.816192  1.948354
   2  0.321171  1.073578
   3 -0.918680 -0.220447

Now let's show how to index this! For index hierarchy we use df.loc[], if this was on the columns axis, you would just use normal bracket notation df[]. Calling one level of the index returns the sub-dataframe:

In [47]:
df.loc['G1']

          A         B
1 -0.535014 -0.954371
2  1.334006  0.035665
3 -1.352434  0.241692

In [56]:
df.loc['G1'].iloc[1]

A    1.334006
B    0.035665
Name: 2, dtype: float64

In [57]:
df.index.names

FrozenList(['Group', 'Num'])

In [58]:
df.index.names = ['Group','Num']

In [60]:
df.xs('G1')

            A         B
Num
1   -0.535014 -0.954371
2    1.334006  0.035665
3   -1.352434  0.241692

In [61]:
df.xs(['G1',1])

C:\Users\AMIT\AppData\Local\Temp/ipykernel_5128/580597333.py:1: FutureWarning: Passing lists as key for xs is deprecated and will be removed in a future version. Pass key as a tuple instead.
  df.xs(['G1',1])

A   -0.535014
B   -0.954371
Name: (G1, 1), dtype: float64

In [59]:
df

                  A         B
Group Num
G1    1   -0.535014 -0.954371
      2    1.334006  0.035665
      3   -1.352434  0.241692
G2    1    0.816192  1.948354
      2    0.321171  1.073578
      3   -0.918680 -0.220447

In [54]:
df.xs(1,level='Num')

              A         B
Group
G1    -0.535014 -0.954371
G2     0.816192  1.948354

# Great Job!